.idea
lib/__pycache__/
involucro
singularity_import
venv/
dist/
*.egg-info/
.python-version
workbench/src/artifacts/
workbench/__pycache__/
workbench/src/__pycache__/
workbench/src/tests/__pycache__/
.coverage
.tox/
pip-wheel-metadata/
.run/
